@font-face {
  font-family: Yekan;
  src: url("./assets/fonts/Yekan.eot");
  src: url("./assets/fonts/Yekan.eot") format("embedded-opentype"),
    url("./assets/fonts/Yekan.woff") format("woff"),
    url("./assets/fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
  font-family: Yekan, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
